body{
    background: #2c2c2c;
}
#all{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
#container{
    width:100%;
    padding: 30px;
    border: 1px solid #131313;
    background: #f0f0f0;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
/* Bordered form */
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #3496ef;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: #f0f0f0;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
}